<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
       default-init-method="init"
       default-destroy-method="destroy">

    <bean scope="prototype" class="spring.HelloWorld" id="helloWorld" >
            <property name="message" value="first value"/>
            <property name="message2" value="second value"/>
    </bean>

    <bean  class="spring.AddBean" id="addBean">
        <property name="first" value="1" />
        <property name="second" value="9" />
    </bean>

    <bean class="spring.SingletonBean" id="singletonBean" init-method="action" destroy-method="destroy">

    </bean>

    <bean  id="template" abstract="true">
        <property name="value1" value="one" />
        <property name="value2" value="two" />
        <property name="value3" value="three" />
    </bean>

    <bean id="beanTemplate" class="spring.BeanTemplate" parent="template">
        <property name="value2" value="twelve" />
    </bean>




    <bean class="spring.Processor" id="processor">
        <property name="CPU" value="2500"/>
    </bean>

    <bean class="spring.Computer" id="computer">
        <constructor-arg index="0" ref="processor"/>
    </bean>
</beans> 